<?php

/**
 * Shop list template
 *
 * @var $block \StoreLocator\Shop\Block\ShopList
 */

$shops = $block->getShops();

?>

<table>
    <thead>
    <tr>
        <td>
            <?php echo __("name")?>
        </td>
        <td>
            <?php echo __("description")?>
        </td>
        <td>
            <?php echo __("address")?>
        </td>
        <td>
            <?php echo __("Image")?>
        </td>
        <td>
            <?php echo __("Link")?>
        </td>
    </tr>
    </thead>
    <tbody>
    <?php foreach ($shops as $shop) : ?>
        <tr>
            <td>
                <?php echo $shop->getName(); ?>
            </td>
            <td>
                <?php echo $shop->getDescription(); ?>
            </td>
            <td>
                <?php echo $shop->getAddress(); ?>
            </td>
            <td>
                <img src="<?php
                    if (!($shop->getImagePath())) {
                        echo 'http://tarasm/pub/media/storelocator/feature/no-image.png';
                    } else {
                        echo $shop->getImagePath();
                    }
                ?>" alt="" width="80" height="80">
            </td>
            <td>
                <a href="<?php
                if (!$shop->getIdentifier()) {
                    $name = $shop->getName();

                    //replace ' ' with '_' in shop name for url creating
                    for ($i=0; $i< strlen($name); $i++) {
                        if ($name[$i] == " ") {
                            $name[$i] = '_';
                        }
                    }

                    $string = "http://tarasm/shop/" . $name . $shop->getId() . ".html";
                    echo $string;
                } else {
                    $string = "http://tarasm/shop/" . $shop->getIdentifier() . $shop->getId() . ".html";
                    echo $string;
                }
                ?>">Link</a>
            </td>
        </tr>

    <?php endforeach; ?>
    </tbody>
</table>
