<?php

/**
 * Shop info template
 *
 * @var $block \StoreLocator\Shop\Block\View
 */

$id = $block->getRequest()->getParam('id');

$path = $block->getUrl("view/id/$id");
$shop = $block->getShop($id);

if ($shop) {
    echo __("Shop name: ") . $shop->getName();
    echo "</br>";
    echo __("Description: ") . $shop->getDescription();
    echo "</br>";
    echo __("Address: ") . $shop->getAddress();
    echo "</br>";



}

?>

<img src="<?php echo $shop->getImagePath(); ?>" alt="">
